* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(black, rgb(7, 7, 86));
  height: 100vh;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: rgb(13, 13, 13);
  border: 2px solid black;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.display {
  background-color: rgb(62, 62, 62, 0.484);
  border: 5px solid rgb(40, 41, 70);
  margin: 10px 2px;
  height: 80px;
  border-radius: 10px;
} 

button {
  height: 70px;
  width: auto;
  border-radius: 10px;
  background-color: rgba(62, 62, 62, 0.484);
  color: white;
  box-shadow: 1px 1px 5px blue;
  border: none;
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.display-text {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 50px;
  padding-right: 10px;
  color: white;
}